button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin-left: 10px;
    cursor: pointer;
}